<table>
  <tr>
    <td width="345"><%= image_tag Spree::HardCopy::Config[:html_invoice_logo_path] || "store/invoice_logo.jpg", :id => "logo" %></td>
    <td width="345">
      <% if @order.payment_method.class.name == 'Spree::CashOnDelivery::PaymentMethod' %>
      <div class="cod">
        <%= "COD - #{number_to_currency(@order.total)}" %>
      </div>
      <% end %>
    <div align="right">
      <p class="title"><%= I18n.t("#{params[:template]}.header") %></p>
      <p class="bold"><%= I18n.t(:order_number).to_s + " " + @order.number  %></p>
      <p class="bold"> <%= I18n.l(@order.completed_at.to_date) if @order.completed_at %></p>
    </div></td>
  </tr>
</table>
